package ui

import "github.com/quinn/gmail-sorter/internal/web/models"

templ Email(email models.EmailResponse) {
	<div class="card">
		<h1>Email Detail</h1>
		<div>
			<strong>From:</strong> { email.From }
			<br/>
			<strong>To:</strong> { email.To }
			<br/>
			<strong>Subject:</strong> { email.Subject }
			<br/>
			<strong>Date:</strong> { email.Date }
			<br/>
		</div>
		<hr/>
		<div>
			{ email.Snippet }
		</div>
	</div>
}
