package pages

import (
	"github.com/quinn/gmail-sorter/internal/web/models"
	"github.com/quinn/gmail-sorter/internal/web/views/ui"
)

templ ErrorPage(actions []models.ActionLink, errorMsg string) {
	@ui.Layout(actions) {
		<div class="center">
			<div class="warning">
				<h1>Error</h1>
				<p>{ errorMsg }</p>
			</div>
		</div>
	}
}
