package pages

import (
	"github.com/quinn/gmail-sorter/internal/web/models"
	"github.com/quinn/gmail-sorter/internal/web/views/ui"
)

templ GroupEmail(email models.EmailResponse, actions []models.ActionLink) {
	@ui.Layout(actions) {
		@ui.Email(email)
	}
}
