package pages

import "github.com/quinn/gmail-sorter/internal/web/views/ui"

templ Menu() {
	@ui.Modal() {
		<h2>Menu</h2>
		<hr/>
		<a href="/filters">Filters</a>
		<hr/>
		<a href="/">Home</a>
		<hr/>
		<a href="/oauth/start">Reauthorize</a>
	}
}
